<header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'mainsite' %}">Project portfolio</a>


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" >
            <div class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tools
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'neighana_menu' %}">ProFaNA</a>
                      <a class="dropdown-item" href="{% url 'searchdbcooc' %}">Protein coocurence viewer</a>
                      <a class="dropdown-item" href="{% url 'squezealign' %}">Collapsing Alignment</a>
                      <a class="dropdown-item" href="{% url 'match3align' %}">Match 3 Alignemnt</a>
                      <a class="dropdown-item" href="{% url 'hmmer_start' %}">HMMER fixer</a>
                      <a class="dropdown-item" href="{% url 'ffas_main' %}">FFAS</a>
                      <a class="dropdown-item" href="{% url 'art_main' %}">astARTe database</a>
                      <a class="dropdown-item" href="{% url 'kintaro_main' %}">KINtaro database</a>
                  </div>
              </li>
              <a class="nav-item nav-link" href="https://pawlowskilab.wordpress.com/">Our Lab's Site</a>
              <a class="nav-item nav-link" href="{% url 'allnews' %}">Documentation</a>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User panel
                </a>
                {% if user.is_authenticated %}
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'dashboard' %}">Tasks</a>
                      {% if user.is_superuser %}
                      <a class="dropdown-item" href="/admin">Admin</a>
                      {% endif %}
                    <a href="javascript:{document.getElementById('logout').submit()}" class="dropdown-item">
                      <i class="fas fa-sign-out-alt"></i>Logout
                    </a>
                    <form action="{% url 'logout' %}" method="POST" id="logout">
                      {% csrf_token %}
                      <input type="hidden">
                    </form>
                  </div>
                {% else %}
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                    <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>

                  </div>
                {% endif %}
                </li>

            </div>
          </div>
        </nav>
      </header>

