{% load static %}
<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Hello there !</h1>
          <p class="lead text-muted">This is a work-in-progress toolbox site.</p>
	  <p class="lead text-muted">Department of Experimental Design and Bioinformatics, Warsaw University of Life Sciences SGGW </p>
          <p>
            <a href="mailto:bartosz.piotr.baranowski@gmail.com?subject=Urgent question!" class="btn btn-primary my-2">Mail me in case any questions</a>
          </p>

          <img src="{% static 'img/logo.PNG' %}">
          </br>
	  </br>

	  <p> *Some tools can be used without creating account, however we recomend </p>
	  <p> to register because then you will be able to browse your past works</p>
        </div>
      </section>