{% extends 'base_wt.html' %}

{% block title %} | astARTe {% endblock %}

{% block content %}
<div class="container">

    <h1 class="text-center pt-3">astARTe Database </h1>
    </br>
    </br>
    <div class="container">
        <p>
            Use the links below to find the ART families or clades specified.

        </p>



    </div>
    </br>
    </br>


</div>
    <div class="container"  >

        </br>
        </br>
        </br>
        </br>
        {% for k,v in results.items %}
<!--        <h5 class="text-center pt-3">{{k}} {{v.name}} </h5>-->
        {% if v.families %}
          <div class="container">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title">Clade :{{v.name}}</h3>


                <p class="card-text">{{v.clade_description}}</p>





              <table class="table table-striped">
              <tbody>


                <tr>
  <!--                  <td><strong>NAME</strong></td>-->
                </tr>
                {% if v.families is not None %}
                  {% for i in v.families %}
                      <tr>
                        <td><a href="family/{{i.family_id}}">{{i.family_name}}</a></td>
  <!--                      <td>{{i.family_name}}</td>-->
                      </tr>

                  {%endfor%}
                {% endif %}
              </tbody>
            </table>
            </div>
            </div>
          </div>
        {% endif %}



        {% endfor%}


    </div>
</br>
</br>
</br>
</br>

{% endblock %}
