{% extends 'base_wt.html' %}

{% block title %} | astARTe {% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-3">astARTe Database </h1>
    </br>
    </br>
    <div class="container">
        <p>
          The <b>astARTe</b> database is a source of information on ADP-ribosyltransferases (ARTs),
          common enzymes involved in post-translational modifications (PTMs). The
          <b>astARTe</b> database uses a hierarchical classification of ART families based on the presence of amino
          acids in the active site, and families found to be homologous are grouped into clades. The
          division of the ART superfamily into clades was proposed by Aravind et al
          . (2015)  distinguishing 3 major clades based on the presence of three types of active site motif:
          <ul>
            <li><b>HYE</b> (histidine, tyrosine and glutamic acid), </li>
            <li><b>RSE</b> (arginine, serine and glutamic acid),</li>
            <li><b>HHh</b> (two histidine and hydrophobic amino acids).</li>
          </ul>
          There are also "atypical" clades, which do not have any of the above-mentioned versions of the active site motif.
          </br>
          A summary page describing a particular family of ADP-ribosyltransferases
          can be reached by using the <b>Browse database</b> or <b>Search</b> database (by name, ID or keywords).
          </br>
          </br>
          For each family, a summary page is available that includes the classification
          and characteristics of the ADP-ribosyltransferase family and offers the ability
          to download sequences, matches, HMMs, logos, structures/models if known.
          In addition, literature references and links to external databases are available,
          e.g., Pfam, InterPro and others.

            <!-- The <b>astARTe</b> database is a source of information on ADP-ribosyltransferases (ART). A summary page describing
            a particular family of ADP-ribosyltransferases can be reached by using the <b>Browse database</b> or <b>Search
            database</b> (by name, ID or keywords).

            The <b>astARTe</b> database uses a hierarchical classification of ART families based on the presence of amino acids
            in the active site, and families that are considered homologous are grouped together into clades.

            For each family, a summary page is available that includes the classification and characteristics of the
            ADP-ribosyltransferase family and offers the ability to download sequences, matches, HMMs, logos,
            structures/models if known. In addition, literature references and links to external databases are
            available, e.g. Pfam, InterPro and others. -->

        </p>



    </div>
    </br>
    </br>
    <div class="d-grid gap-2">
        <a href="{% url 'art_search_result' %}" type="button" class="btn btn-primary btn-lg btn-block">Search database</a>
        <a href="{% url 'art_families' %}" type="button" class="btn btn-primary btn-lg btn-block">Browse database</a>
        <br/>
        <br/>
        <a href="{% url 'search_sequence'%}" type="button" class="btn btn-primary btn-lg btn-block">Search database by sequence</a>
        <a href="{% url 'browse_result' %}" type="button" class="btn btn-primary btn-lg btn-block">Browse past results</a>

    </div>


<!--    <form class="row g-3">-->
<!--        <div class="input-group" action="{% url 'art_search_result' %}" method="get">-->
<!--            <input type='search' name="q" placeholder="Search..." type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">-->
<!--            <button  class="btn btn-primary mb-3">Search</button>-->
<!--        </div>-->

<!--    </form>-->


<!--</div>-->
<!--    <div class="container">-->
<!--        </br>-->
<!--        </br>-->
<!--        </br>-->
<!--        </br>-->
<!--        {% for k,v in results.items %}-->
<!--&lt;!&ndash;        <h5 class="text-center pt-3">{{k}} {{v.name}} </h5>&ndash;&gt;-->

<!--        <div class="container">-->
<!--            <table class="table table-striped">-->
<!--              <thead>-->
<!--                <tr>-->
<!--                  <th scope="col">{{k}} {{v.name}}</th>-->
<!--                </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--                <tr>-->
<!--                  <td><strong>ID</strong></td>-->
<!--                  <td><strong>NAME</strong></td>-->
<!--                </tr>-->
<!--                {% for i in v.families %}-->
<!--                    <tr>-->
<!--                      <td><a href="family/{{i.family_id}}">{{i.family_id}}</a></td>-->
<!--                      <td>{{i.family_name}}</td>-->
<!--                    </tr>-->
<!--                {%endfor%}-->
<!--                </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--        </div>-->



<!--        </br>-->
<!--        </br>-->
<!--        </br>-->
<!--        </br>-->
<!--        {% endfor%}-->


<!--    </div>-->
</br>
</br>
</br>
</br>

{% endblock %}
