{% extends 'base_wt.html' %}

{% block title %} | astARTe {% endblock %}

{% block content %}

<main role="main">
        <div class="container">
          <h1 class="text-center pt-3">astARTe DATABASE</h1>
          <br/>
          <br/>
          <p>
            Paste a sequence (in FASTA format) to search for matching ART families using the hmmscan from HMMER server.
          </p>
              <br/>

          <br/>

          <form action = "{% url 'query_sequence' %}" method="get" enctype= 'multipart/form-data' name="sequence">
            {% csrf_token %}
            <br/>
            <br/>
            <div class="input-group">
              <span class="input-group-text">Your sequence</span>
              <textarea class="form-control" aria-label="Your sequence" style="height: 200px;" name="sequence"></textarea>
            </div>
            <br/>


            <button type="submit" class="btn btn-primary btn-sm">UPLOAD</button>

          </form>
        </div>
      </main>

{% endblock %}