


<head>
  <meta charset="UTF-8">
  <title>Results</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css"/>


    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>

</head>
<body>

  <div class="container mt-4">
    <h4> Biological Process</h4>
    <table id="example1" class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>GO_id</th>
          <th>term</th>
          <th>domains</th>

        </tr>
      </thead>
      <tbody>
        {% for k,v in biological_process_dict.items %}
        <tr>
          <td>{{v.GO_id}}</td>
          <td>{{v.term}}</td>
          <td>{{v.domains}}</td>


        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container mt-4">
    <h4> Molecular Function</h4>
    <table id="example2" class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>GO_id</th>
          <th>term</th>
          <th>domains</th>

        </tr>
      </thead>
      <tbody>
        {% for k,v in molecular_function_dict.items %}
        <tr>
          <td>{{v.GO_id}}</td>
          <td>{{v.term}}</td>
          <td>{{v.domains}}</td>


        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container mt-4">
    <h4>Cellular Component </h4>
    <table id="example3" class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>GO_id</th>
          <th>term</th>
          <th>domains</th>

        </tr>
      </thead>
      <tbody>
        {% for k,v in cellular_component_dict.items %}
        <tr>
          <td>{{v.GO_id}}</td>
          <td>{{v.term}}</td>
          <td>{{v.domains}}</td>


        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function() {
      $('#example1').DataTable({
        "selected": true,
        // "pageLengthMenu": [10, 25, 50, 100], // specify options for number of results per page
        "paging":   false,
        // "pageLength": 100,
        "ordering": true,
        // "order": [ [4, "asc"],[3, "desc"]], // sort by first column (name) ascending and third column (gender) ascending
        "info":     false,
        "searching": true,
        "dom": 'Bfrtip',
        "buttons": [
            {
              extend: 'copyHtml5',
              exportOptions: {
                  columns: [0, 1, 2]
              }
            },

            {
              extend: 'csvHtml5',
              exportOptions: {
                  columns: [0, 1, 2]
              }
            },


        ]
      });
      $('#example').on('click', 'tbody tr', function () {
      $(this).toggleClass('selected');
    });
    });
    $(document).ready(function() {
      $('#example2').DataTable({
        "selected": true,
        // "pageLengthMenu": [10, 25, 50, 100], // specify options for number of results per page
        "paging":   false,
        // "pageLength": 100,
        "ordering": true,
        // "order": [ [4, "asc"],[3, "desc"]], // sort by first column (name) ascending and third column (gender) ascending
        "info":     false,
        "searching": true,
        "dom": 'Bfrtip',
        "buttons": [
            {
              extend: 'copyHtml5',
              exportOptions: {
                  columns: [0, 1, 2]
              }
            },

            {
              extend: 'csvHtml5',
              exportOptions: {
                  columns: [0, 1, 2,3]
              }
            },


        ]
      });
      $('#example').on('click', 'tbody tr', function () {
      $(this).toggleClass('selected');
    });
    });
    $(document).ready(function() {
      $('#example3').DataTable({
        "selected": true,
        // "pageLengthMenu": [10, 25, 50, 100], // specify options for number of results per page
        "paging":   false,
        // "pageLength": 100,
        "ordering": true,
        // "order": [ [4, "asc"],[3, "desc"]], // sort by first column (name) ascending and third column (gender) ascending
        "info":     false,
        "searching": true,
        "dom": 'Bfrtip',
        "buttons": [
            {
              extend: 'copyHtml5',
              exportOptions: {
                  columns: [0, 1, 2]
              }
            },

            {
              extend: 'csvHtml5',
              exportOptions: {
                  columns: [0, 1, 2,3]
              }
            },


        ]
      });
      $('#example').on('click', 'tbody tr', function () {
      $(this).toggleClass('selected');
    });
    });
  </script>

</body>
