


<head>
  <meta charset="UTF-8">
  <title>Results</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css"/>


    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>

</head>
<body>
  {% if contents == "No data found" %}
    <div class="container mt-4">
      <h2>For given parameters no neighborhoods were found and analyzed</h2>
    </div>
  {% endif %}
  <div class="container mt-4">
    <table id="example" class="table table-striped table-bordered">
      <thead class="thead-dark">
        
        <tr>
          <th>Neighborhood domain Pfam ID</th>
          
            
          
          <th>occurence in query neighborhoods</th>
          
          <th>occurence in all genomes</th>
          {% if average %}
            <th>percentage of analyzed groups</th>
          {% else %}
            <th>percentage in neighborhoods</th>
          {% endif %}
          <th>P score</th>
          <th>Pfam short name</th>
          <th>Pfam summary</th>
          <th>Molecular function GO id</th>
          <th>Molecular function GO term</th>
          <th>Biological process GO id</th>
          <th>Biological process GO term</th>
          <th>Cellular component GO id</th>
          <th>Cellular component GO term</th>

        </tr>
      </thead>
      <tbody>
        {% for query in contents %}
        <tr>
          <td>{{query.Neighborhood_domain_Pfam_ID}}</td>
          <td>{{query.occurence_in_query_neighborhoods}}</td>
          <td>{{query.occurence_in_all_genomes}}</td>
          {% if average %}
            <td>{{query.percentage_of_analyzed_groups}}</td>
          {% else %}
            <td>{{query.percentage_in_neighborhoods}}</td>
          {% endif %}
          {% if query.P_score %}
            <td>{{query.P_score}}</td>
          {% else %}
            <td>{{query.P_score_correct}}</td>
          {% endif %}
          <td>{{query.Neighborhood_domain_Pfam_short_name}}</td>
          <td>{{query.Neighborhood_domain_Pfam_summary_}}</td>
          <td>{{query.molecular_function_GO_id}}</td>
          <td>{{query.molecular_function_GO_term}}</td>
          <td>{{query.biological_process_GO_id}}</td>
          <td>{{query.biological_process_GO_term}}</td>
          <td>{{query.cellular_component_GO_id}}</td>
          <td>{{query.cellular_component_GO_term}}</td>

        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function() {
      $('#example').DataTable({
        "selected": true,
        "pageLengthMenu": [10, 25, 50, 100], // specify options for number of results per page
        "paging":   true,
        "pageLength": 100,
        "ordering": true,
        "order": [ [4, "asc"],[3, "desc"]], // sort by first column (name) ascending and third column (gender) ascending
        "info":     false,
        "searching": true,
        "dom": 'Bfrtip',
        "buttons": [
            {
              extend: 'copyHtml5',
              exportOptions: {
                  columns: [0, 1, 2,3,4,5,6,7,8,9,10,11,12]
              }
            },

            {
              extend: 'csvHtml5',
              exportOptions: {
                  columns: [0, 1, 2,3,4,5,6,7,8,9,10,11,12]
              }
            },


        ]
      });
      $('#example').on('click', 'tbody tr', function () {
      $(this).toggleClass('selected');
    });
    });

  </script>

</body>
