


<head>
    <meta charset="UTF-8">
    <title>Results</title>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>
  
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
  
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css"/>
  
  
      <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.flash.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
  
  </head>
  <body>
    <div class="container mt-4">
      <table id="example" class="table table-striped table-bordered">
        <thead class="thead-dark">
  
          <tr>
            <th>Gene</th>
            <th>Genome</th>
            <th>Phylum</th>
            <th>Class</th>
            <th>Order</th>
            <th>Family</th>
            <th>Genus</th>
            <th>Species</th>
  
          </tr>
        </thead>
        <tbody>
          {% for query in contents %}
          <tr>
            <td>{{query.gene}}</td>
            <td>{{query.taxon_oid}}</td>
            <td>{{query.Phylum}}</td>
            <td>{{query.Class}}</td>
            <td>{{query.Order}}</td>
            <td>{{query.Family}}</td>
            <td>{{query.Genus}}</td>
            <td>{{query.Species}}</td>

  
          </tr>
  
          {% endfor %}
        </tbody>
      </table>
    </div>
  
    <script>
      $(document).ready(function() {
        $('#example').DataTable({
          "selected": true,
        //   "pageLengthMenu": [10, 25, 50, 100], // specify options for number of results per page
          "paging":   true,
          "pageLength": 100,
          "ordering": true,
          "order": [ [4, "asc"],[3, "desc"]], // sort by first column (name) ascending and third column (gender) ascending
          "info":     false,
          "searching": true,
          "dom": 'Bfrtip',
          "buttons": [
              {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [0, 1, 2,3,4,5,6]
                }
              },
  
              {
                extend: 'csvHtml5',
                exportOptions: {
                    columns: [0, 1, 2,3,4,5,6]
                }
              },
  
  
          ]
        });
        $('#example').on('click', 'tbody tr', function () {
        $(this).toggleClass('selected');
      });
      });
  
    </script>
  
  </body>
  