{% extends 'base_wt.html' %}

{% block title %} | Dashboard {% endblock %}

{% block content %}
<meta http-equiv="refresh" content="60"/>
<main role="main">
    <div class="container">
      <h1 class="text-center pt-5">Results</h1>
    </div>
<br/>
<br/>
<br/>

    <section id="dashboard" class="py-4">


      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <br/>
            {% if stretch_example_jobs %}
          <h3>Strecher tool:</h3>
          <br/>
          <h4>Favourite jobs</h4>
          <br>
          <table class="table table-bordered">
            <thead>
                <tr>
                  <th scope="col"> # </th>
                  <th scope="col">Master-Mater</th>
                  <th scope="col">Master-Slave-1</th>
                  <th scope="col">Master-Slave-2</th>
                  <th scope="col">Analysis name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Result</th>
                  <th scope="col">Created at</th>
                  <th scope="col">Favourite</th>
                </tr>
              </thead>
              <tbody>
                {% for stretcher_job in stretch_example_jobs %}
                    {% if stretcher_job.is_favourite == True %}
                        <tr>
                    <td>{{stretcher_job.id}}</td>
 		            <td>
                        <a href="{{stretcher_job.master_master}}" class="btn btn-primary btn-sm" download>
                            Master
                        </a>
                    </td>
 		            <td>
                        <a href="{{stretcher_job.master_slave_1}}" class="btn btn-primary btn-sm" download>
                            Slave 1
                        </a>
                    </td>
 		            <td>
                        <a href="{{stretcher_job.master_slave_2}}" class="btn btn-primary btn-sm" download>
                            Slave 2
                        </a>
                    </td>


                    <td>{{stretcher_job.anal_name}}</td>
                    <td>{{stretcher_job.status}}</td>
                    {% if stretcher_job.status == 'Done' %}
                        <td>
                             <a href="{{stretcher_job.link}}" class="btn btn-primary btn-sm" download>
                                Download File
                            </a>
                        </td>
                      {% elif stretcher_job.status == 'Queue' %}
                        <td> Please be patient ;)</td>
                      {% elif stretcher_job.status == 'Error' %}
                        <td> Please contact us  </td>
                      {% elif stretcher_job.status == 'Running' %}
                        <td> We analyse your request </td>
                      {% endif %}
                      {% if stretcher_job.created_at == None %}
                        <td> Long time ago ... </td>
                        {% else %}
                            <td>{{ stretcher_job.created_at|date }}</td>
                        {% endif %}

                        <td>
                            <a href="stretcher/{{ stretcher_job.id }}" type="button"
                               class="btn btn-outline-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="orange" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                            </a>
                        </td>

                  </tr>
                    {% endif %}
                {% endfor %}
              </tbody>
          </table>

          <br>
          <h4> Other jobs</h4>
          <p style="color:red">Remember that all files which are not marked with a star will be
                deleted after one week</p>
          <table class="table table-bordered">
            <thead>
                <tr>
                  <th scope="col"> # </th>
                  <th scope="col">Master-Mater</th>
                  <th scope="col">Master-Slave-1</th>
                  <th scope="col">Master-Slave-2</th>
                  <th scope="col">Analysis name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Result</th>
                  <th scope="col">Created at</th>
                  <th scope="col">Favourite</th>
                </tr>
              </thead>
              <tbody>
                {% for stretcher_job in stretch_example_jobs %}
                    {% if stretcher_job.is_favourite == False %}
                        <tr>
                    <td>{{stretcher_job.id}}</td>
 		            <td>
                        <a href="{{stretcher_job.master_master}}" class="btn btn-primary btn-sm" download>
                            Master
                        </a>
                    </td>
 		            <td>
                        <a href="{{stretcher_job.master_slave_1}}" class="btn btn-primary btn-sm" download>
                            Slave 1
                        </a>
                    </td>
 		            <td>
                        <a href="{{stretcher_job.master_slave_2}}" class="btn btn-primary btn-sm" download>
                            Slave 2
                        </a>
                    </td>


                    <td>{{stretcher_job.anal_name}}</td>
                    <td>{{stretcher_job.status}}</td>
                    {% if stretcher_job.status == 'Done' %}
                        <td>
                             <a href="{{stretcher_job.link}}" class="btn btn-primary btn-sm" download>
                                Download File
                            </a>
                        </td>
                      {% elif stretcher_job.status == 'Queue' %}
                        <td> Please be patient ;)</td>
                      {% elif stretcher_job.status == 'Error' %}
                        <td> Please contact us  </td>
                      {% elif stretcher_job.status == 'Running' %}
                        <td> We analyse your request </td>
                      {% endif %}
                      {% if stretcher_job.created_at == None %}
                        <td> Long time ago ... </td>
                        {% else %}
                            <td>{{ stretcher_job.created_at|date }}</td>
                        {% endif %}

                        <td>
                            <a href="stretcher/{{ stretcher_job.id }}" type="button"
                               class="btn btn-outline-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="gray" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                            </a>
                        </td>

                  </tr>
                    {% endif %}
                {% endfor %}
              </tbody>
          </table>

        {% else %}
          <h3>Strecher tool:</h3>
          <p> You have not started any jobs yet </p>
        {% endif %}

            <br/>
          </div>
        </div>
      </div>
    </section>
</main>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <h4 class="text-center pt-5">Current server time  {{current_time}}</h4>


{% endblock %}