{% extends 'base_wt.html' %}

{% load render_table from django_tables2 %}

{% block title %} | Dashboard {% endblock %}

{% block content %}

<meta http-equiv="refresh" content="60"/>
<main role="main">

    <div class="container">
        <h1 class="text-center pt-5">Results</h1>
        <br/><br/><br/>

        <section id="dashboard" class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <br/><br/><br/>
                        {% if table_favorite or table_other%}
                        <h3>Protein Family Neighborhood Analysis - Sequence</h3>
                        <br>
                        <h4>Favourite jobs</h4>
                        <br>
                        {% render_table table_favorite %}
                        <br>
                        <h4>Other jobs</h4>
                        <br>
                        {% render_table table_other %}

                        {% else %}
                        <h3>Neighborhood analyzer:</h3>
                        <p>You have not started any jobs yet</p>
                        {% endif %}
                        <br/><br/><br/><br/><br/><br/>
                        <h4 class="text-center pt-5">Current server time {{ current_time }}</h4>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
