{% extends 'base_wt.html' %}

{% block title %} | Dashboard {% endblock %}

{% block content %}
<meta http-equiv="refresh" content="60"/>
<main role="main">
    <div class="container">
      <h1 class="text-center pt-5">Results</h1>
<br/>
<br/>
<br/>

<section id="dashboard" class="py-4">


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome {{ user.username }} here is list of tools:</h2>
        <br>
        <a type="button" class="btn btn-info btn-lg btn-block" href="{% url 'dash_neigh' %}">Protein Family Neighborhood Analysisr</a>
        <a type="button" class="btn btn-info btn-lg btn-block" href="{% url 'dash_neigh_seq' %}">Protein Family Neighborhood Analysis - sequence</a>
        <a type="button" class="btn btn-info btn-lg btn-block" href="{% url 'dash_ffas' %}">FFAS jobs</a>
        <a type="button" class="btn btn-info btn-lg btn-block" href="{% url 'dash_collaps' %}">Colapser tool</a>
        <a type="button" class="btn btn-info btn-lg btn-block" href="{% url 'dash_stretch' %}">Strecher tool</a>
        <a type="button" class="btn btn-info btn-lg btn-block" href="{% url 'dash_hmmer' %}">Hmmer fixer tool</a>
        <a type="button" class="btn btn-info btn-lg btn-block" href="{% url 'dash_human' %}">Protein co-occurrence - H.sapiens</a>
        

        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <h4 class="text-center pt-5">Current server time  {{current_time}}</h4>

  
{% endblock %}