{% extends 'base_wt.html' %}

{% block title %} | Dashboard {% endblock %}

{% block content %}
<meta http-equiv="refresh" content="60"/>
<main role="main">
    <div class="container">
      <h1 class="text-center pt-5">Results</h1>
    </div>
<br/>
<br/>
<br/>

    <section id="dashboard" class="py-4">


      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <br/>
            {% if ffas_jobs %}
                <h3>FFAS jobs</h3>
                <br/>
                <h4> Favourite jobs</h4>
                <br>
                <table class="table table-bordered">
                  <thread>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Analysis name</th>
                          <th scope="col">Input</th>
                          <th scope="col">Profile</th>
                          <th scope="col">PDB</th>
                          <th scope="col">SCOP</th>
                          <th scope="col">PFAM</th>
                          <th scope="col">H.sapiens</th>
                          <th scope="col">COG</th>
                          <th scope="col">VFDB</th>
                          <th scope="col">VFDB_custom</th>
                          <th scope="col">Status</th>
                          <th scope="col">Created at</th>
                          <th scope="col">Favourite</th>  
                      </tr>
                  </thread>
                  <tbody>
                  {% for ffas in ffas_jobs %}
                    {% if ffas.is_favourite is True %}
                        {% if ffas.status == 'Done' %}
                            <tr>
                                <td>{{ffas.id}}</td>
                                <td>{{ffas.out_name}}</td>
                                <td>
                                     <a href="{{ffas.insert_file}}" class="btn btn-success btn-sm" download>
                                        INPUT
                                    </a>
                                </td>
                                <td>
                                     <a href="{{ffas.profile_id}}" class="btn btn-secondary btn-sm" download>
                                        PROFILE
                                    </a>
                                </td>

                                {% if ffas.PDB != '-' %}
                                <td>
                                     <a href="{{ffas.PDB}}" class="btn btn-warning btn-sm" download>
                                        PDB
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.SCOP != '-' %}
                                <td>
                                     <a href="{{ffas.SCOP}}" class="btn btn-warning btn-sm" download>
                                        SCOP
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.PFAM != '-' %}
                                <td>
                                     <a href="{{ffas.PFAM}}" class="btn btn-warning btn-sm" download>
                                        PFAM
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.Hsapiens != '-' %}
                                <td>
                                     <a href="{{ffas.Hsapiens}}" class="btn btn-warning btn-sm" download>
                                        H.sapiens
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.COG != '-' %}
                                <td>
                                     <a href="{{ffas.COG}}" class="btn btn-warning btn-sm" download>
                                        COG
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.VFDB != '-' %}
                                <td>
                                     <a href="{{ffas.VFDB}}" class="btn btn-warning btn-sm" download>
                                        VFDB
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.VFDB_custom != '-' %}
                                <td>
                                     <a href="{{ffas.VFDB_custom}}" class="btn btn-warning btn-sm" download>
                                        VFDB_custom
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}


                                <td>{{ffas.status}}</td>

                                {% if ffas.created_at == None %}
                                    <td> Long time ago ... </td>
                                {% else %}
                                    <td>{{ ffas.created_at|date }}</td>
                                {% endif %}
                                <td>
                                    <a href="ffas/{{ ffas.id }}" type="button"
                                        class="btn btn-outline-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="orange" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                        </svg>
                                    </a>
                                </td>

                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ffas.id}}</td>
                                <td>{{ffas.out_name}}</td>
                                <td>
                                     <a href="{{ffas.insert_file}}" class="btn btn-success btn-sm" download>
                                        INPUT
                                    </a>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ffas.status}}</td>
                            </tr>
                        {% endif %}

                    {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
                <br>
                <h4> Other jobs</h4>
                <p style="color:red">Remember that all files which are not marked with a star will be
                    deleted after one week</p>
                <table class="table table-bordered">
                  <thread>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Analysis name</th>
                          <th scope="col">Input</th>
                          <th scope="col">Profile</th>
                          <th scope="col">PDB</th>
                          <th scope="col">SCOP</th>
                          <th scope="col">PFAM</th>
                          <th scope="col">H.sapiens</th>
                          <th scope="col">COG</th>
                          <th scope="col">VFDB</th>
                          <th scope="col">VFDB_custom</th>
                          <th scope="col">Status</th>
                          <th scope="col">Created at</th>
                          <th scope="col">Favourite</th>
                      </tr>
                  </thread>
                  <tbody>
                  {% for ffas in ffas_jobs %}
                    {% if ffas.is_favourite is False %}
                        {% if ffas.status == 'Done' %}
                            <tr>
                                <td>{{ffas.id}}</td>
                                <td>{{ffas.out_name}}</td>
                                <td>
                                     <a href="{{ffas.insert_file}}" class="btn btn-success btn-sm" download>
                                        INPUT
                                    </a>
                                </td>
                                <td>
                                     <a href="{{ffas.profile_id}}" class="btn btn-secondary btn-sm" download>
                                        PROFILE
                                    </a>
                                </td>

                                {% if ffas.PDB != '-' %}
                                <td>
                                     <a href="{{ffas.PDB}}" class="btn btn-warning btn-sm" download>
                                        PDB
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.SCOP != '-' %}
                                <td>
                                     <a href="{{ffas.SCOP}}" class="btn btn-warning btn-sm" download>
                                        SCOP
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.PFAM != '-' %}
                                <td>
                                     <a href="{{ffas.PFAM}}" class="btn btn-warning btn-sm" download>
                                        PFAM
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.Hsapiens != '-' %}
                                <td>
                                     <a href="{{ffas.Hsapiens}}" class="btn btn-warning btn-sm" download>
                                        H.sapiens
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.COG != '-' %}
                                <td>
                                     <a href="{{ffas.COG}}" class="btn btn-warning btn-sm" download>
                                        COG
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.VFDB != '-' %}
                                <td>
                                     <a href="{{ffas.VFDB}}" class="btn btn-warning btn-sm" download>
                                        VFDB
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}

                                {% if ffas.VFDB_custom != '-' %}
                                <td>
                                     <a href="{{ffas.VFDB_custom}}" class="btn btn-warning btn-sm" download>
                                        VFDB_custom
                                    </a>
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}


                                <td>{{ffas.status}}</td>

                                {% if ffas.created_at == None %}
                                    <td> Long time ago ... </td>
                                {% else %}
                                    <td>{{ ffas.created_at|date }}</td>
                                {% endif %}
                                <td>
                                    <a href="ffas/{{ ffas.id }}" type="button"
                                        class="btn btn-outline-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="gray" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                        </svg>
                                    </a>
                                </td>

                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ffas.id}}</td>
                                <td>{{ffas.out_name}}</td>
                                <td>
                                     <a href="{{ffas.insert_file}}" class="btn btn-success btn-sm" download>
                                        INPUT
                                    </a>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ffas.status}}</td>
                            </tr>
                        {% endif %}

                    {% endif %}
                  {% endfor %}
                  </tbody>
                </table>




            {% else %}
                <h3>FFAS jobs</h3>
                <p> You have not started any jobs yet </p>
            {% endif %}


            <br/>
          </div>
        </div>
      </div>
    </section>
</main>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <h4 class="text-center pt-5">Current server time  {{current_time}}</h4>


{% endblock %}
