{% extends 'base_wt.html' %}

{% block title %} | Dashboard {% endblock %}

{% block content %}
    <meta http-equiv="refresh" content="60"/>
    <main role="main">
        <div class="container">
            <h1 class="text-center pt-5">Results</h1>
            <br/>
            <br/>
            <br/>

            <section id="dashboard" class="py-4">


                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <br/>
                            <br/>
                            <br/>
                            {% if neigh_example_jobs %}
                                <h3>Protein Family Neighborhood Analysis:</h3>
                                <br>
                                <h4> Favourite jobs</h4>
                                <br>
                                <table class="table table-bordered">

                                    <thead>

                                    <tr>
                                        <th scope="col"> #</th>
                                        <th scope="col">Query</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">Cutoff</th>
                                        <th scope="col">Database</th>
                                        <th scope="col">Strand</th>
                                        <th scope="col">Correction</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"> Results View</th>
                                        <!-- <th scope="col"> Onthology View</th> -->
                                        <th scope="col">Taxonomy Result</th>
                                        <!-- <th scope="col">ProFaNA Result</th>
                                        <th scope="col">GeneOntology Summary</th> -->
                                        <th scope="col">Created at</th>
                                        <th scope="col">Favourite</th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for query in neigh_example_jobs %}
                                        {% if query.is_favourite is True %}

                                            <tr>

                                            <td>{{ query.id }}</td>
                                            <td>{{ query.domain }}</td>
                                            <td>{{ query.range }}</td>
                                            <td>{{ query.cutoff }}</td>
                                            <td>{{ query.tax }}</td>
                                            <td>{{ query.strand }}</td>
                                            <td>{{ query.correction }}</td>
                                            <td>{{ query.out_name }}</td>
                                            <td>{{ query.status }}</td>



                                            {% if query.status == 'Done' %}
                                                <td>
                                                  <a href="http://bioinfo.sggw.edu.pl/neighborhood_analysis/files/{{query.file_view}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View</a>
                                                </td>
                                                <!-- <td> -->
                                                  <!-- <a href="http://bioinfo.sggw.edu.pl/neighborhood_analysis/files/ontology/{{query.file_view}}_ontology" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View</a> -->
                                                <!-- </td> -->
                                                <!-- <td> -->
                                                  <!-- <a href="http://bioinfo.sggw.edu.pl/neighborhood_analysis/files/taxonomy/{{query.file_view}}_taxonomy" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View</a> -->
                                                <!-- <td>
                                                    <a href="{{ query.link }}" class="btn btn-primary btn-sm" download>
                                                        Download File
                                                    </a> 
                                                </td> -->
                                                <td>
                                                    <a href="{{ query.taxonomy_file }}" class="btn btn-primary btn-sm" download>
                                                        Download File
                                                    </a>
                                                </td> 
                                            {% elif query.status == 'Queue' %}
                                                <td> Please be patient ;)</td>
                                                <!-- <td> Please be patient ;)</td> -->
                                                <td> Please be patient ;)</td>
                                            {% elif query.status == 'Error' %}
                                                <td> Please contact us</td>
                                                <!-- <td> Please contact us</td> -->
                                                <td> Please contact us</td>
                                            {% elif query.status == 'Running' %}
                                                <td> We analyse your request</td>
                                                <!-- <td> We analyse your request</td> -->
                                                <td> We analyse your request</td>
                                            {% endif %}


                                            {% if query.created_at == None %}
                                                <td> Long time ago ... </td>
                                            {% else %}
                                                <td>{{ query.created_at|date }}</td>
                                            {% endif %}
                                            <td>
                                                <a href="neighborhood/{{ query.id }}" type="button"
                                                   class="btn btn-outline-secondary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="orange" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                </a>
                                            </td>

                                        {% endif %}

                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <br>

                                <h4> Other jobs</h4>
                                <p style="color:red">Remember that all files which are not marked with a star will be
                                    deleted after one week</p>

                                <table class="table table-bordered">

                                    <thead>

                                    <tr>
                                        <th scope="col"> #</th>
                                        <th scope="col">Query</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">Cutoff</th>
                                        <th scope="col">Database</th>
                                        <th scope="col">Strand</th>
                                        <th scope="col">Correction</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"> Results View</th>
                                        <!-- <th scope="col"> Onthology View</th> -->
                                        <th scope="col">Taxonomy Result</th>
                                        <!-- <th scope="col">ProFaNA Result</th> -->
                                        <!-- <th scope="col">GeneOntology Summary</th> -->
                                        <th scope="col">Created at</th>
                                        <th scope="col">Favourite</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for query in neigh_example_jobs %}
                                        {% if query.is_favourite is False %}

                                            <tr>

                                            <td>{{ query.id }}</td>
                                            <td>{{ query.domain }}</td>
                                            <td>{{ query.range }}</td>
                                            <td>{{ query.cutoff }}</td>
                                            <td>{{ query.tax }}</td>
                                            <td>{{ query.strand }}</td>
                                            <td>{{ query.correction }}</td>
                                            <td>{{ query.out_name }}</td>
                                            <td>{{ query.status }}</td>

                                            {% if query.status == 'Done' %}
                                                <td>
                                                  <a href="http://bioinfo.sggw.edu.pl/neighborhood_analysis/files/{{query.file_view}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View</a>
                                                </td>
                                                <!-- <td>
                                                  <a href="http://bioinfo.sggw.edu.pl/neighborhood_analysis/files/ontology/{{query.file_view}}_ontology" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View</a>
                                                </td> -->
                                                <!-- <td> -->
                                                  <!-- <a href="http://bioinfo.sggw.edu.pl/neighborhood_analysis/files/taxonomy/{{query.file_view}}_taxonomy" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View</a> -->
                                                <!-- </td> -->
                                                <!-- <td>
                                                    <a href="{{ query.link }}" class="btn btn-primary btn-sm" download>
                                                        Download File
                                                    </a>
                                                </td> -->
                                                <td>
                                                    <a href="{{ query.taxonomy_file }}" class="btn btn-primary btn-sm" download>
                                                        Download File
                                                    </a>
                                                </td> 

                                            {% elif query.status == 'Queue' %}
                                                <td> Please be patient ;)</td>
                                                <!-- <td> Please be patient ;)</td> -->
                                                <td> Please be patient ;)</td>
                                            {% elif query.status == 'Error' %}
                                                <td> Please contact us</td>
                                                <!-- <td> Please contact us</td> -->
                                                <td> Please contact us</td>
                                            {% elif query.status == 'Running' %}
                                                <td> We analyse your request</td>
                                                <!-- <td> We analyse your request</td> -->
                                                <td> We analyse your request</td>
                                            {% endif %}
                                            {% if query.created_at == None %}
                                                <td> Long time ago ... </td>
                                            {% else %}
                                                <td>{{ query.created_at|date }}</td>
                                            {% endif %}

                                            <td>
                                                <a href="neighborhood/{{ query.id }}" type="button"
                                                   class="btn btn-outline-secondary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="gray" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                </a>
                                            </td>

                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            {% else %}
                                <h3>Neighborhood analyzer:</h3>
                                <p> You have not started any jobs yet </p>
                            {% endif %}

                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <h4 class="text-center pt-5">Current server time {{ current_time }}</h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>


{% endblock %}
