{% extends 'base_wt.html' %}

{% block title %} | Login {% endblock %}

{% block content %}

<main role="main">
        <div class="container">
            <h1 class="text-center pt-5">Login</h1>
        </div>


        <section id="login" class="bg-light py-5">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 mx-auto">
                      <div class="card">
                        <div class="card-header bg-primary text-white">
                          <h4>
                            <i class="fas fa-sign-in-alt"></i> Login</h4>
                        </div>
                      <div class="card-body">
                          <!-- Alerts
                            {% include 'partials/_alerts.html' %}
                          -->
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="username">Username</label>
                                  <input type="text" name="username" class="form-control" required>
                                </div>

                                <div class="form-group">
                                  <label for="password2">Password</label>
                                  <input type="password" name="password" class="form-control" required>
                                </div>

                            <input type="submit" value="Login" class="btn btn-secondary btn-block">
                          </form>
                        </div>
                      </div>
                      <b style='color:black;'>You can use this site annonymously with this credential</b>
                      <br>
                      <b style='color:black;'>Login : test</b>
                      <br>
                      <b style='color:black;'>Password: test_my_site</b>
                        <br>
                        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                        <br>
                        <a class="button secondaryAction" href="{% url 'account_signup' %}">No account? Sing up</a>
                    </div>
                  </div>
                </div>
              </section>
    </main>

{% endblock %}
