{% extends 'base_wt.html' %}

{% block title %} | Neighborhood Analyzer{% endblock %}

{% block content %}

<div class="container">

    <h1 class="text-center pt-3">Neighborhood Analyzer</h1>
              <br/>
              <br/>
              <p>
                  In prokaryotic genomes, functionally coupled genes can be organized in conserved gene clusters, e.g. operons
                  enabling their coordinated regulation. Thus, it is possible to predict function of uncharacterised genes
                  by analyzing functional annotations within their neighborhoods. Here, we present an algorithm that gives an insight
                  into genomic neighborhoods of a query protein family by calculating statistical significance (Wilcoxon test)
                  for overrepresentation of functional domains in the neighbourhood.
              </p>
              </br>
              </br>
    <h6>The analysis can be carried out in two ways. First one requires gene list from <a href="https://img.jgi.doe.gov/">IMG-JGI's site</a>
         as an input. Then Each gene neighborhood analysis is done as mentioned above </h6>
    <a href="{% url 'geneana' %}" class="btn btn-success btn-lg btn-block">Gene list as query</a>

    </br>
    </br>
    <h6> The second type of analysis depends on Pfam domain that can be found on <a href="https://pfam.xfam.org">PFAM's site</a> site.
        Algorithm search for presence of query domain in genomes and then analyze each neighborhood </h6>
    <a href="{% url 'neighana' %}" class="btn btn-success btn-lg btn-block">Pfam domain as query (genera level)</a>
    <a href="{% url 'neighana_fam' %}" class="btn btn-success btn-lg btn-block">Pfam domain as query (family level)</a>
    <a href="{% url 'neighana_all' %}" class="btn btn-success btn-lg btn-block">Pfam domain as query (all database)</a>
    
</div>

</br>
</br>
{% endblock %}