{% extends 'base_wt.html' %}

{% block title %} | Dashboard {% endblock %}

{% block content %}
<meta http-equiv="refresh" content="5"/>
<main role="main">
    <div class="container">
      <h1 class="text-center pt-5">Results</h1>
<br/>
<br/>
<br/>

<section id="dashboard" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome {{ user.username }} here is list of your jobs:</h2>
        <br/>
        <br/>
        <br/>
        {% if neigh_example_jobs  %}
          <h3>Neighborhood analyzer:</h3>
          <br/>
          <table class="table table-bordered">
              <thead>
                  <tr>
                    <th scope="col"> # </th>
                    <th scope="col">Query</th>
                    <th scope="col">Size</th>
                    <th scope="col">Cutoff</th>
                    <th scope="col">Database</th>
                    <th scope="col">Strand</th>
                    <th scope="col">Correction</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Result</th>
                  </tr>
                </thead>

                <tbody>
                  {% for query in neigh_example_jobs %}
                    <tr>
                      <td>{{query.id}}</td>
                      <td>{{query.domain}}</td>
                      <td>{{query.range}}</td>
                      <td>{{query.cutoff}}</td>
                      <td>{{query.tax}}</td>
                      <td>{{query.strand}}</td>
                      <td>{{query.correction}}</td>
                      <td>{{query.out_name}}</td>
                      <td>{{query.status}}</td>
                     {% if query.status == 'Done' %}
                        <td>
                             <a href="{{query.link}}" class="btn btn-primary btn-sm" download>
                                Download File
                            </a>
                        </td>
                      {% elif query.status == 'Queue' %}
                        <td> Please be patient ;)</td>
                      {% elif query.status == 'Error' %}
                        <td> Please contact us  </td>
                      {% elif query.status == 'Running' %}
                        <td> We analyse your request </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
          </table>
        {% else %}
          <h3>Neighborhood analyzer:</h3>
          <p> You have not started any jobs yet </p>
        {% endif %}
        <br/>
        <br/>

        {% if checked_data_colapser %}
          <h3>Colapser tool:</h3>
          <br/>
          <table class="table table-bordered">
              <thead>
                  <tr>
                    <th scope="col"> # </th>
                    <th scope="col">Analysis name</th>
                    <th scope="col">Insert file</th>
                    <th scope="col">Result</th>
                  </tr>
                </thead>
                <tbody>
                  {% for colapser_job in checked_data_colapser %}
                    <tr>
                      <td>{{colapser_job.id}}</td>
                      <td>{{colapser_job.anal_name}}</td>
                      <td>
                           <a href="{{colapser_job.insert_file}}" class="btn btn-primary btn-sm" download>
                              Input
                          </a>
                      </td>

                      
                      {% if colapser_job.link != None %}
                        <td>
                             <a href="{{colapser_job.link}}" class="btn btn-primary btn-sm" download>
                                Download File
                            </a>
                        </td>
                      {% else %}
                        <td>Calculating...</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
          </table>
        {% else %}
          <h3>Colapser tool:</h3>
          <p> You have not started any jobs yet </p>
        {% endif %}
        <br/>
        <br/>

        {% if stretch_example_jobs %}
          <h3>Strecher tool:</h3>
          <br/>
          <table class="table table-bordered">
            <thead>
                <tr>
                  <th scope="col"> # </th>
                  <th scope="col">Master-Mater</th>
                  <th scope="col">Master-Slave-1</th>
                  <th scope="col">Master-Slave-2</th>
                  <th scope="col">Analysis name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Result</th>
                </tr>
              </thead>
              <tbody>
                {% for stretcher_job in stretch_example_jobs %}
                  <tr>
                    <td>{{stretcher_job.id}}</td>
 		    <td>
                        <a href="{{stretcher_job.master_master}}" class="btn btn-primary btn-sm" download>
                            Master
                        </a>
                    </td>
 		    <td>
                        <a href="{{stretcher_job.master_slave_1}}" class="btn btn-primary btn-sm" download>
                            Slave 1
                        </a>
                    </td>
 		    <td>
                        <a href="{{stretcher_job.master_slave_2}}" class="btn btn-primary btn-sm" download>
                            Slave 2
                        </a>
                    </td>

                    
                    <td>{{stretcher_job.anal_name}}</td>
                    <td>{{stretcher_job.status}}</td>
                    {% if stretcher_job.status == 'Done' %}
                        <td>
                             <a href="{{stretcher_job.link}}" class="btn btn-primary btn-sm" download>
                                Download File
                            </a>
                        </td>
                      {% elif stretcher_job.status == 'Queue' %}
                        <td> Please be patient ;)</td>
                      {% elif stretcher_job.status == 'Error' %}
                        <td> Please contact us  </td>
                      {% elif stretcher_job.status == 'Running' %}
                        <td> We analyse your request </td>
                      {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        {% else %}
          <h3>Strecher tool:</h3>
          <p> You have not started any jobs yet </p>
        {% endif %}
        <br/>
        <br/>
        {% if checked_hmmer_jobs %}
        <h3>Hmmer fixer tool:</h3>
        <br/>
        <table class="table table-bordered">
          <thead>
              <tr>
                <th scope="col"> # </th>
                <th scope="col">Analysis name</th>
                <th scope="col">Master file</th>
                <th scope="col">Skipped seqs file</th>
                <th scope="col">Result</th>
              </tr>
          </thead>
          <tbody>
            {% for hmmer_job in checked_hmmer_jobs %}
              <tr>
                <td>{{hmmer_job.id}}</td>
                <td>{{hmmer_job.anal_name}}</td>
                <td>{{hmmer_job.main_file}}</td>
                <td>{{hmmer_job.skipped_seqs}}</td>
                {% if hmmer_job.link != None %}
                  <td>
                       <a href="{{hmmer_job.link}}" class="btn btn-primary btn-sm" download>
                          Download File
                      </a>
                  </td>
                {% else %}
                  <td>...</td>
                {% endif %}
               </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h3>Hmmer fixer tool:</h3>
        <p> You have not started any jobs yet </p>
      {% endif %}



  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <h4 class="text-center pt-5">Current server time  {{current_time}}</h4>

  
{% endblock %}