

{% load static %}

<br/>
<br/>
<br/>
    <div class='container'>
        <h2>SITE THAT YOU ARE LOOKING FOR NO LONGER EXIST OR IS IN REBUILD</h2>
        <img src="{% static 'img/roadblock.jpg' %}" />

    </div>

<br/>
<br/>
<br/>