{% extends 'base_wt.html' %}

{% block title %} | ERROR {% endblock %}

{% block content %}

{% load static %}

<br/>
<br/>
<br/>
    <div class='container'>
        <h2>OUR SITE IS CURRENTLY UNDER RECONSTRUCTION PLEASE BE PATIENT</h2>
        <img src="{% static 'img/roadblock.jpg' %}" />

    </div>

<br/>
<br/>
<br/>



{% endblock %}