{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141520161-1"></script>
    <script>
  	window.dataLayer = window.dataLayer || [];
 	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-141520161-1');

    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This site provides important tool for analyzing gene neighborhood and cooccurrence. It also works with your alignments and much more."/>
    <meta name="keywords" content="neighborhood, neighbourhood, cooccurrence, occurrence, alignments, sequences, Bartosz Baranowski"/>
    <meta name="author" content="Bartosz Baranowski"/>
    <meta name="copyright" content="Bartosz Piotr Baranowski"/>
    <meta name="generator" content="DJANGO"/>
    <meta name="robot" content="all"/>
    <title>Project Site Bioinf {% block title %}{%endblock%}</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'img/favicon-16x16.png' %}" >
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
 <!-- TOP BAR -->
{% include 'partials/_navbar.html' %}
<!-- NAV BAR -->
{% include 'partials/_topbar.html' %}

{% block content %} {% endblock %}

<!-- FOOTER -->
{% include 'partials/_footer.html' %}


<!-- Bootstrap core JavaScript
================================================= -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
