{% extends 'base_wt.html' %}


{% block title %} | Neighborhood Analyzer{% endblock %}

{% block content %}

<main role="main">
    <form action = "{% url 'count_from_domain_family' %}" >
        <div class="container">
          <h1 class="text-center pt-3">Protein Family Neighborhood Analysis - PFAM Domain (Family)</h1>
          <br/>
          <br/>
          <p>
            In prokaryotic genomes functionally coupled genes can be organized in conserved clusters of neighboring genes, called operons, 
            enabling their coordinated regulation. Thus, it is possible to predict function of uncharacterised genes by analysing functional 
            annotations within their neighborhoods. Here, we present an algorithm that gives an insight into genomic neighborhoods of a query 
            protein family by calculating statistical significance for overrepresentation of functional domains in the neighborhoods.
	   </p>
	   <p>
		&raquo;As query, the user can choose a protein family from the <a href="https://www.ebi.ac.uk/interpro/entry/pfam/#table">Pfam database </a>(September 2018, 17929 entries). 
    Query domain identifier has to be in the form "pfNNNNN" or "PFNNNNN", e.g. PF02696.
	   <br>
     &raquo; The size of neighborhood (e.g. 5000 bp) is described as number of base pairs (bp) before and after the gene whose protein product 
     possesses the query Pfam domain. Typically, the size of neighborhood set to +-5000 bp corresponds to 10 genes in whole neighborhood.
     
      <br>
      &raquo; Due to possibility of high false discovery rate that can be a serious problem when multiple tests are performed (e.g. many Pfam 
      domains are evaluated for overrepresentation), the user can decide which method of multiple test correction to use –
      <a href="https://en.wikipedia.org/wiki/Bonferroni_correction">Bonferroni correction</a> or
      <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.829.8800&rep=rep1&type=pdf">Benjamini-Hochberg procedure</a>
       <br>
		&raquo;  Families that are available for neighborhood analysis were chosen based on high number of representative genomes available. 
    The genomic data that is used in this server is downloaded from <a href="https://img.jgi.doe.gov/">
      JGI IMG Integrated Microbial Genomes & Microbiomes</a> and it contains 
    prokaryotic complete genomes and uncomplete genomic data from environmental sequencing.
	   <br>
     &raquo; Currently, during neighborhood analysis genes encoded on both strands are considered.
	   <br>
		&raquo; Cut-off value is used to limit the output based on p-value, and name of analysis is optional.

	   </p>
     <div class="alert alert-primary" role="alert">
      Profana provides quick and efficient calculations, with an estimated completion time of around 1 hour per analysis. Once your calculation is complete, we will send you an email notification.
    </div>
          <br/>
          <br/>
    <!-- <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Wait a minute !</h4>
        <p>
            This tool is our newest invention so feel feel free to use it and test in many different ways. Before
            using it please read carefully instructions above.

        </p>
        <hr>
        <p class="mb-0">If you have any suggestions or ideas that will help us improve our tool, feel free to mail us ;)</p>
    </div> -->





    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="PfamDomain">Which protein domain you want to analyse ?</label>
          <input type="text" class="form-control" name = "pfam_domain" placeholder="PF02696"  required="">
        </div>
      </div>
      <br/>
      <label for="PfamDomain">Select database:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="database" id="exampleRadios1" value="alldatabase" checked>
        <label class="form-check-label" for="exampleRadios1">
          All genomes
        </label>
      </div>
      <!-- <div class="form-check">
        <input class="form-check-input" type="radio" name="database" id="exampleRadios2" value="reference">
        <label class="form-check-label" for="exampleRadios2">
          Reference genomes
        </label>
      </div> -->

      <br/>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Range">Set size of neighbourhood, you want to investigate (bp up- and downstream)</label>
          <input class="form-control" name ="range_search" value="5000" required="" type="number"  min="0" max="20000" step="1">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="MultiTestCorrection">Choose which multiple test correction method you want to use</label>
          <select name="test_correction" class="form-control">
            <option selected value='none'>None</option>
            <option value='bonferroni'>Bonferroni Correction</option>
            <option value='fdr_bh'>Benjamini-Hochberg Procedure</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Taxa">Choose which family you want to investigate</label>
          <select name="database_taxa" class="form-control">

            <option value="Enterobacteriaceae">Enterobacteriaceae (45 genera --> 10483 genomes)</option>
            <option value="Staphylococcaceae">Staphylococcaceae (8 genera --> 6030 genomes)</option>
            <option value="Mycobacteriaceae">Mycobacteriaceae (7 genera --> 4611 genomes)</option>
            <option value="Streptococcaceae">Streptococcaceae (4 genera --> 3233 genomes)</option>
            <option value="Pseudomonadaceae">Pseudomonadaceae (11 genera --> 2750 genomes)</option>
            <option value="Bacillaceae">Bacillaceae (99 genera --> 2447 genomes)</option>
            <option value="Vibrionaceae">Vibrionaceae (10 genera --> 2019 genomes) </option>
            <option value="Moraxellaceae">Moraxellaceae (9 genera --> 2001 genomes)</option>
            <option value="Streptomycetaceae">Streptomycetaceae (6 genera --> 1893 genomes)</option>
            <option value="Burkholderiaceae">Burkholderiaceae (24 genera --> 1770 genomes)</option>
            <option value="Flavobacteriaceae">Flavobacteriaceae (101 genera --> 1238 genomes)</option>
            <option value="Lactobacillaceae">Lactobacillaceae (32 genera --> 1988 genomes)</option>

          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Strand">Choose which DNA strand you are insterested in </label>
          <select name="strand_select" class="form-control">
            <option selected value="both">Both strands</option>
            <!-- FOR FUTURE SCRIPT!!!
            <option value="same">Same as searched pfam</option>
            <option value="oposite">Oposite as searched pfam</option>
            -->
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="CutOff">Set cut-off value for output from statistical test </label>
          <select name="cut_off" class="form-control">
            <option selected value="none">None</option>
            <option value="0">Only zeros</option>
            <option value="0.00001">0.00001</option>
            <option value="0.00005">0.00005</option>
            <option value="0.0001">0.0001</option>
            <option value="0.0005">0.0005</option>
            <option value="0.001">0.001</option>
            <option value="0.005">0.005</option>
            <option value="0.01">0.01</option>
            <option value="0.05">0.05</option>
            <option value="0.1">0.1</option>
            <option value="0.2">0.2</option>
            <option value="0.5">0.5</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="PfamDomain">Give a name to your analysis</label>
          <input type="text" class="form-control" name = "out_name" placeholder="Analysis name"  required="">
        </div>
      </div>
      <br/>
      <br/>
      {% if user.is_authenticated %}
        <input type="submit" name="analyze" value="Analyze ! "  class="btn btn-primary my-2" >
      {% else %}
        <a href="{% url 'login' %}" class="btn-group">
          <button type="button" class="btn btn-primary my-2 ">Login first !</button>
        </a>
      {% endif %}


    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </main>


{% endblock %}
