{% extends 'base_wt.html' %}

{% block title %} | ProFaNA{% endblock %}

{% block content %}

<div class="container">

    <h1 class="text-center pt-3">ProFaNA - Protein Family Neighborhood Analysis</h1>
	<br/>
	<br/>
	<p>
	In prokaryotic genomes functionally coupled genes can be organized in conserved clusters of neighboring genes, called operons, 
	enabling their coordinated regulation. Thus, it is possible to predict function of uncharacterised genes by analysing functional 
	annotations within their neighborhoods. Here, we present an algorithm that gives an insight into genomic neighborhoods of a query 
	protein family by calculating statistical significance for overrepresentation of functional domains in the neighborhoods.
	</br>

		The analysis is performed on set of 88 542 microbial genomes from the <a href="https://img.jgi.doe.gov/index.html">IMG database </a> , version 2.0 dated 2021.
	</br>
		You can select what size of database you want to use for analysis. The default is the whole database, but you can choose to use only reference genomes.
	</p>
	</br>
	<p> Example of usage of this tool with described steps is <a href="http://bioinfo.sggw.edu.pl/news/1/">HERE<a></p>
	</br>
	<p>
		Number od PFAM domains in ou database can be seen here <a href="http://bioinfo.sggw.edu.pl/neighborhood_analysis/statistics/">Statistics<a>
	</p>
	<br>
    <p>
	The analysis can be carried out in three ways.
	</br>
	Input - option 1:
	</br>
	Query is a gene list (IMG-JGI identifiers, one per line, e.g. 2264882819). It is assumed that input genes are 
	homologs, but this assumption is not checked. Neighborhoods of all the genes from the list are analysed.


    </p>

    <a href="{% url 'geneana' %}" class="btn btn-success btn-lg btn-block">Gene list as query</a>

    </br>
    </br>
    <p>
	Input - option 2:
	</br>
	Query is a Pfam domain (Pfam ID, e.g. PF02696).
	</br>
	Here, the results can be averaged on the taxonomic levels of genus or family, or not averaged ("all database" option).
	</br>

    <a href="{% url 'neighana' %}" class="btn btn-success btn-lg btn-block">Pfam domain as query (genera level)</a>
    <a href="{% url 'neighana_fam' %}" class="btn btn-success btn-lg btn-block">Pfam domain as query (family level)</a>
    <a href="{% url 'neighana_all' %}" class="btn btn-success btn-lg btn-block">Pfam domain as query (all database)</a>

	<br>
	<p>Input - option 3
		<br>
		Query  is a protein sequence. The search for homologous proteins is performed by employing the <a href="https://github.com/bbuchfink/diamond">DIAMOND</a> software, with a 
		selected cutoff value. The hits obtained from the search are collected and their neighborhoods are analyzed.
	</p>
	<a href="{% url 'neighana_seq' %}" class="btn btn-success btn-lg btn-block">Protein sequence as query</a>


	</br>
	</br>

	<p>For each Pfam domain that is found encoded in at least one analysed neighborhood, the algorithm calculates local density of this domain (expressed as counts per 
		number of genes within neighborhoods) and global density (expressed as number of all occurrences of this Pfam domain in genome per number of genes within whole genome). 
		A statistical test determines whether the local density is significantly higher than the global density. A higher local densityis desired and it means a domain is encoded 
		in query genomic neighborhoods more often than would be expected in a random situation.</p>

	<br>


</div>

</br>
</br>
{% endblock %}
