{% extends 'base_wt.html' %}

{% block title %} | KINtaro {% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-3">CALCULATION RESULT </h1>
    </br>
    </br>

    <form class="input-group mb-3", action="{% url 'browse_result_kintaro' %} ">
      <input type="text" class="form-control" placeholder="JOB ID" aria-label="Job id" name="job_id" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
    </form>



    </br>
    </br>




</div>
</br>
</br>
</br>
</br>



{% endblock %}

