{% extends 'base_wt.html' %}

{% block title %} | KINtaro {% endblock %}

{% block content %}
<div class="container">

    <h1 class="text-center pt-3">KINtaro Database </h1>
    </br>
    </br>
    <div class="container">
        <h3>
          Use the links below to explore the Protein Kinase-Like families in KINTARO.

        </h3>



    </div>
    </br>
    </br>


</div>
    <div class="container"  >

        </br>
        </br>
        </br>
        </br>
        {% for k,v in results.items %}
<!--        <h5 class="text-center pt-3">{{k}} {{v.name}} </h5>-->
          <div class="container">
            <div class="card border-0">
              <!-- <div class="card-body"> -->

              <!-- <table class="table table-striped"> -->
              <!-- <tbody> -->

                <!-- <tr> -->
                <!-- </tr> -->
                      <!-- <tr> -->
                        <!-- <td><a href="family/{{k}}">{{v.name}}</a></td> -->
                        <a style="font-size:21px" href="family/{{k}}">{{v.name}}</a>

                      <!-- </tr> -->

              <!-- </tbody> -->
            <!-- </table> -->
            <!-- </div> -->
            </div>
          </div>



        {% endfor%}


    </div>
</br>
</br>
</br>
</br>

{% endblock %}
