{% extends 'base_wt.html' %}

{% block title %} | KINtaro {% endblock %}

{% block content %}
<meta http-equiv="refresh" content="20"/>
<style>
  .box {
    inline-size: 100%;
    overflow-wrap: break-word;
}

</style>
<div class="container">
    <h1 class="text-center pt-3">RESULT</h1>
    </br>
    </br>
    <form class="input-group mb-3", action="{% url 'browse_result_kintaro' %} ">
      <input type="text" class="form-control" placeholder="JOB ID" aria-label="Job id" name="job_id" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
    </form>
    </br>
    </br>

    <div class="container">

        <h3> Job id : {{result_id}}</h3>
        <h3> Job status : {{status}}</h3>
        <br>
        <div class="box">
          <p><b>Query sequence</b></p>
          <p>{{sequence_title}}</p>
          <p>{{query}}</p>
        </div>

            {% if file %}
              <!-- <div class="box">
                <p><b>Sequence title</b></p>
                <p>{{sequence_title}}</p>
                <p><b>Query sequence</b></p>
                <p>{{query}}</p>
              </div> -->


                            </br>
                    <a href="{{file}}" class="btn btn-success btn-sm" download>
                        RAW DATA
                    </a>
                    </br>
                    </br>
                    </br>
                    </br>
                {% if results %}
                    <h4>Families in which query sequence were found: </h4>
                    </br>
                    </br>


                        <table class="table table-bordered">
                          <thead>
                              <tr>
                                <th scope="col">Family id</th>
                                <th scope="col">Family name</th>
                                <th scope="col">E.value</th>
                              </tr>
                            </thead>
                            <tbody>

                              {% for result  in results %}
                              <tr>
                                <td><a href="http://bioinfo.sggw.edu.pl/kintaro/family/{{result.family_id}}">{{result.family_id}}</a></td>
                                <td>{{result.family_name_in_results}}</td>
                                <td>{{result.score}}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>


                {% else %}
                    <h4>Query sequence were not found in any family </h4>
                {% endif %}
            {% endif %}

        </p>



    </div>
    </br>
    </br>

<p>Sequence search performed by hmmscan (HMMER 3.3.2 package) </p>
<p>&copy; 2020 Howard Hughes Medical Institute.</p>


</div>
</br>
</br>
</br>
</br>



{% endblock %}
