{% extends 'base_wt.html' %}

{% block title %} | KINtaro {% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-3">KINtaro Database </h1>
    </br>
    </br>
    <div class="container">
        <p>
          The <b>KINtaro</b> is a source of information on protein kinase-like (PKL) families of the <i>Legionella</i> pankinome 
          (<a href="https://www.nature.com/articles/s41598-022-26109-x">ScientificReports</a>) and known PKL families collected 
          from the Pfam database and from literature. The database can be accessed using the <b>Browse database</b>  or <b>Search database by sequence</b>  options. 
          <br>
          For each family, a summary page is available that includes a brief description characteristics of the PKL family and offers the possibility to download sequences. 
          <br>
          <br>
          <p>The KINtaro site and database are run by Bartosz Piotr Baranowski, alumnus Warsaw University of Life Science WULS-SGGW, Warsaw, 
          PL <a href="mailto:bartosz.baranowski@ibb.waw.pl">Bartosz Baranowski</a> and curated by Marcin Gradowski, adjunct of Department of Biochemistry and Microbiology, 
          Warsaw University of Life Science WULS-SGGW, Warsaw, PL <a href="mailto:marcin_gradowski@sggw.edu.pl">Marcin Gradowski</a></p>  
        </p>



    </div>
    </br>
    </br>
    <div class="d-grid gap-2">
        <a href="{% url 'kintaro_search_result' %}" type="button" class="btn btn-primary btn-lg btn-block">Search database</a>
        <a href="{% url 'kintaro_families' %}" type="button" class="btn btn-primary btn-lg btn-block">Browse database</a>
        
        <!-- <br/> -->
        <!-- <br/> -->
        <a href="{% url 'search_sequence_kintaro'%}" type="button" class="btn btn-primary btn-lg btn-block">Search database by sequence</a>
        <a href="{% url 'browse_result_kintaro' %}" type="button" class="btn btn-primary btn-lg btn-block">Browse past results</a>

    </div>


</br>
</br>
</br>
</br>

{% endblock %}
