{% extends 'base_wt.html' %}

{% block title %} | KINtaro {% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center pt-3">KINtaro Database </h1>
    </br>
    </br>
    <div class="container">
        <p>
            Search for keywords within the textual data in the <b>KINtaro</b> database.
            The search currently covers the following sections of the database:
            <li>text fields within KINtaro entries, such as descriptions and names of families and clades;</li>
            <li>InterPro abstracts;</li>
            <li>the HEADER and TITLE records from PDB files;</li>
            <li>and other.</li>

        </p>



    </div>
    </br>
    </br>
    <form class="row g-3">
        <div class="input-group" action="{% url 'art_search_result' %}" method="get">
            <input type='search' name="q" placeholder="Search..." type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" minlength="3">
            <button  class="btn btn-primary mb-3">Search</button>
        </div>

    </form>
<!--    <h3>RESULTS</h3>-->

        </br>
        </br>
        </br>
    <div class="container">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="fase" aria-controls="collapseOne">
                  Family ID    hits:  {{family_id_count}}        (click to expand/collapse section)
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  {% if family_id %}
                  {% for i in family_id %}
                    <li><a href="family/{{i.id}}">{{i.family_name}}</a></li>
                  {% endfor %}
                  {% else %}
                    <p>In family id section searched query was not found.</p>
                  {% endif %}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Family name    hits:  {{family_name_count}}   (click to expand/collapse section)
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                  {% if family_name %}
                  {% for i in family_name %}
                    <li><a href="family/{{i.id}}">{{i.family_name}}</a></li>
                  {% endfor %}
                  {% else %}
                    <p>In family name section searched query was not found.</p>
                  {% endif %}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Family description     hits:  {{family_description_count}}   (click to expand/collapse section)
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                  {% if family_description %}
                  {% for i in family_description %}
                    <li><a href="family/{{i.id}}">{{i.family_name}}</a></li>
                  {% endfor %}
                  {% else %}
                    <p>In family name section searched query was not found.</p>
                  {% endif %}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Family certificate    hits:  {{family_certificate_count}}   (click to expand/collapse section)
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                  {% if family_certificate %}
                  {% for i in family_certificate %}
                    <li><a href="family/{{i.id}}">{{i.family_name}}</a></li>
                  {% endfor %}
                  {% else %}
                    <p>In family name section searched query was not found.</p>
                  {% endif %}
              </div>
            </div>
          </div>
          
        </div>
        </br>
        </br>
        </br>



<!--        {% if family_id %}-->
<!--            <h4>Family ID</h4>-->
<!--            {% for i in family_id %}-->
<!--                <li><a href="family/{{i.id}}">{{i.family_name}}</a></li>-->

<!--            {% endfor %}-->
<!--        {% endif %}-->
<!--        {% if family_name %}-->
<!--        </br>-->
<!--        </br>-->
<!--        </br>-->

<!--            <h4>Family name</h4>-->
<!--            {% for i in family_id %}-->
<!--                <li><a href="family/{{i.id}}">{{i.family_name}}</a></li>-->

<!--            {% endfor %}-->
<!--        {% endif %}-->


<!--        {% if family_description %}-->
<!--        </br>-->
<!--        </br>-->
<!--        </br>-->
<!--            <h4>Family description</h4>-->
<!--            {% for i in family_id %}-->
<!--                <li><a href="family/{{i.id}}">{{i.family_name}}</a></li>-->

<!--            {% endfor %}-->
<!--        {% endif %}-->
<!--        {% if family_certificate %}-->
<!--        </br>-->
<!--        </br>-->
<!--        </br>-->
<!--            <h4>Family certificate</h4>-->
<!--            {% for i in family_id %}-->
<!--                <li><a href="family/{{i.id}}">{{i.family_name}}</a></li>-->

<!--            {% endfor %}-->
<!--        {% endif %}-->
<!--        {% if family_keyword %}-->
<!--        </br>-->
<!--        </br>-->
<!--        </br>-->
<!--            <h4> Family keyword</h4>-->
<!--            {% for i in family_id %}-->
<!--                <li><a href="family/{{i.id}}">{{i.family_name}}</a></li>-->

<!--            {% endfor %}-->
<!--        {% endif %}-->

<!--    </div>-->
<!--        <br/>-->
<!--        <br/>-->

<!--        <br/>-->
<!--        <br/>-->
<!--    </div>-->


</div>
</br>
</br>
</br>
</br>



{% endblock %}

