{% extends 'base_wt.html' %}

{% block title %} | KINtaro{% endblock %}

{% block content %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 70%){
  .modal-content {
    width: 100%;
  }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 6%;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Styling for the popup */
.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protein Visualization Popup with 3Dmol.js</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/3Dmol/2.0.0/3Dmol.js"></script>
</head>






<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        {% if family.description %}
            <a href="#description">Description</a>
        {% endif %}
        {% if family.certificate %}
            <a href="#origin">Origin</a>
        {% endif %}
        {% if structure %}
        <a href="#structures">Structures</a>
        {% endif %}
        {% if models %}
        <a href="#models">3D Models</a>
        {% endif %}
        {% if structures %}
        <a href="#structures">3D Structures</a>
        {% endif %}
        {% if pkl_domains %}
        <a href="#pkl_domains">PKL Domain</a>
        {% endif %}
        {% if hmm%}
        <a href="#hmmmodels">HMM Model</a>
        {% endif %}
        {% if keyword %}
            <a href="#keywords">Keywords</a>
        {% endif %}
        {% if citattion %}
            <a href="#literature">Literature</a>
        {% endif %}
        {% if weblogo %}
            <a href="#weblogo">WebLogo</a>
        {% endif %}
        {% if tax %}
            <a href="#taxonomy">Taxonomy</a>
        {% endif %}
        {% if interpro.id %}
            <a href="#interpro">Interpro</a>
        {% endif %}
        {% if geneontology %}
            <a href="#geneontology">GeneOntology</a>
        {% endif %}
        <a href="#sequences">Sequences</a>
        {% if external %}
            <a href="#external">External database</a>
        {% endif %}
        {% if structures %}
            <a href='#structures'>Structures</a>
        {% endif %}

    </div>


    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Sections</span>

    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>

</body>

<div class="container">



    <h1 class="text-center pt-3">KINtaro Database</h1>

    <div class="col-sm-9">
        {% if public is False %}
        <div class="alert alert-danger" role="alert">
            WARNING !!!
            <br>
            This family is selected as work in-progress, so be careful using this data

        </div>
        {% endif %}
    </div>
    <div class="row align-items-start">
        <div class="col-sm-9">

            <h2 class="text-left pt-3"><b>FAMILY: {{family.name}} ({{family.id}})</b></h3>

            {% if family.description %}
                <div class="card" id="description">
                    <div class="card-header">
                        <h5 class="text-middle pt-3"> Description</h5>
                    </div>
                    <div class="card-body">
                        <p>
                            {{family.description}}
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if family.certificate %}
                <div class="card" id="origin">
                    <div class="card-header">
                        <h5 class="text-left pt-3">Origin</h5>
                    </div>
                    <div class="card-body">
                        <p>
                            {{family.certificate}}
                        </p>
                    </div>
                </div>
            {% endif %}

            {% if models %}
            <div class="card" id="models">
                <div class="card-header">
                    <h5 class="text-left pt-3"> Model</h5>
                </div>
                <div class="card-body">
                    <ul>
                        {% for i in models %}
                            <a href="http://bioinfo.sggw.edu.pl/{{i.file}}" class="btn btn-primary btn-sm" download>
                                Download model pLDDT {{i.plddt}}
                            </a>
                        {% endfor %}
 
                    </ul>

                </div>
            </div>
            {% endif %}
            {% if structures %}
            <div class="card" id="structures">
                <div class="card-header">
                    <h5 class="text-left pt-3"> Structure</h5>
                </div>
                <div class="card-body">
                    <ul>
                        {% for i in structures %}
                            {% if i.file %}
                                <a href="http://bioinfo.sggw.edu.pl/{{i.file}}" class="btn btn-primary btn-sm" download>
                                    Download structure 
                                </a>
                                
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% endif %}
            {% if pkl_domains %}
            <div class="card" id="pkl_domains">
                <div class="card-header">
                    <h5 class="text-left pt-3"> PKL domain</h5>
                </div>
                <div class="card-body">
                    <ul>
                        {% for i in pkl_domains %}
                            <a href="http://bioinfo.sggw.edu.pl/{{i.file}}" class="btn btn-primary btn-sm" download>
                                Download PKL domain
                            </a>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% endif %}

            {% if hmm %}
            <div class="card" id=hmmmodels>
                <div class="card-header">
                    <h5 class="text-left pt-3"> HMM Model</h5>
                </div>
                <div class="card-body">
                    <ul>
                        
                        <a href="http://bioinfo.sggw.edu.pl/{{hmm.file }}" class="btn btn-primary btn-sm" download>
                            Download HMM model
                        </a>
                       
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if keyword %}
                <div class="card" id="keywords">
                    <div class="card-header">
                        <h5 class="text-left pt-3"> Keywords</h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for key in keyword %}
                                <li>{{key}}</li>
                            {% endfor %}

                        </ul>
                     </div>
                </div>
            {% endif %}

            {% if citation %}
                <div class="card" id="literature">
                    <div class="card-header">
                        <h5 class="text-left pt-3"> Literature</h5>
                    </div>
                    <div class="card-body">
                        {% for cit in citation %}
                        <li>{{cit.author}}, {{cit.title}}, {{cit.scimag}}, PMID:
                            <a href="https://pubmed.ncbi.nlm.nih.gov/{{cit.pmid}}/">{{cit.pmid}}</a>
                            </li>
                    {% endfor %}

                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if weblogo %}
                <div class="card" id="weblogo">
                    <div class="card-header">
                        <h5 class="text-left pt-3"> WebLogo</h5>
                    </div>
                        <div class="card-body">
                        <img id="myImg" src="http://bioinfo.sggw.edu.pl/{{weblogo.image}}" alt="Weblogo" style="width:100%;max-width:300px">
        <!-- The Modal -->
                        <div id="myModal" class="modal">
                          <span class="close">&times;</span>
                          <img class="modal-content" id="img01">
                          <div id="caption"></div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if tax %}
                <div class="card" id="taxonomy">
                    <div class="card-header">
                        <h5 class="text-left pt-3"> Taxonomy</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Taxonomy ID</th>
                                    <th scope="col">Taxonomy level</th>
                                    <th scope="col">Taxonomy name</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for tax in taxonomy %}
                                <tr>
                                  <td>{{tax.tax_id}}</td>
                                  <td>{{tax.tax_level}}</td>
                                  <td><i>{{tax.tax_name}}</i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {% if interpro.id %}
                <div class="card" id="interpro">
                    <div class="card-header">
                        <h5 class="text-left pt-3"> InterPro - {{interpro.id}}</h5>
                    </div>
                    <div class="card-body">
                        <p>{{interpro.abstract}}</p>
                    </div>
                </div>
            {% endif %}

            {% if geneontology %}
                <div class="card" id="geneontology">
                    <div class="card-header">
                        <h5 class="text-left pt-3"> GeneOntology</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">GO id</th>
                                    <th scope="col">GO category</th>
                                    <th scope="col">GO name</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for go in geneontology %}
                                <tr>
                                  <td>
                                    <a href="http://amigo.geneontology.org/amigo/term/{{go.go_id}}">{{go.go_id}}</a>
                                  </td>
                                  <td>{{go.go_category}}</td>
                                  <td>{{go.go_name}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}



            <div class="card" id="sequences">

                <div class="card-header">
                    <h5 class="text-left pt-3"> Sequences </h5>
                </div>

                <div class="card-body">
                    <div class="container">
                        {% if aligned %}
                        <h5 class="text-left pt-3"> Aligned domain sequences</h5>
                            
        <!--                    <p>matched sequence</p>-->
                                <a href="http://bioinfo.sggw.edu.pl/{{aligned.file}}" class="btn btn-primary btn-sm" download>
                                            Download sequence
                                </a>
                        {% endif %}
                    </div>
                    {% if unaligned is not None%}
                        <div class="container">
                            <h5 class="text-left pt-3">Unaligned domain sequences</h5>
                            <a href="http://bioinfo.sggw.edu.pl/{{unaligned.file}}" class="btn btn-primary btn-sm" download>
                                                Download sequence
                            </a>
            <!--                <p>domain sequences</p>-->
                        </div>
                    {% endif %}

                    <div class="container">
                        <h5 class="text-left pt-3"> Full sequences</h5>
                        <a href="http://bioinfo.sggw.edu.pl/{{full.file}}" class="btn btn-primary btn-sm" download>
                                            Download sequence
                        </a>
                    </div>


                </div>
            </div>


            {% if external %}
                <div class="card" id="external">

                        <div class='card-header'>
                            <h5 class="text-left pt-3"> External databases</h5>
                        </div>
                        <div class='card-body'>
                            <ul>
                                {% for ex in external %}
                                    <li>{{ex.external_source}}: <a href="{{ex.external_site}}">{{ex.external_id}}</a></li>
                                {% endfor %}

                            </ul>
                        </div>

                </div>
            {% endif %}

            <!-- {% if structures %}
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header">
                    <h5 class="text-left pt-3"> Structures</h5>
                </div>
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      (click to expand/collapse section)
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">PDB ID</th>
                                <th scope="col">Structure</th>
                                <th scope="col">Additional informations</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for structure in structures %}
                            <tr>
                              <td>{{structure.pdb_id}}</td>
                              <td>
                                <a href="https://files.rcsb.org/download/{{structure.pdb_id}}.pdb" class="btn btn-primary btn-sm" download>
                                                    Download structure
                                </a>
                              </td>
                              <td></td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            {% endif %} -->



           </div>
           </div>

        <!-- Sidebar -->

    </div>
</div>
</br>
</br>
</br>
</br>

    <!DOCTYPE html>



<!--<img id="myImg" src="img_snow.jpg" alt="Snow" style="width:100%;max-width:300px">-->
<!--&lt;!&ndash; The Modal&ndash;&gt;-->
<!--<div id="myModal" class="modal">-->
<!--  <span class="close">&times;</span>-->
<!--  <img class="modal-content" id="img01">-->
<!--  <div id="caption"></div>-->
<!--</div>-->

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>



{% endblock %}
