{% extends 'base_wt.html' %}

{% block title %} | Match 3 Alignments {% endblock %}

{% block content %}

<main role="main">
        <div class="container">
          <h1 class="text-center pt-3">Match 3 alignments together</h1>
          <br/>

          <br/>
          
          <a href="{{ link_ready}}" class="btn btn-primary btn-sm" download>
            Download File
          </a>
          <a href="{% url 'match3align' %}" class="btn btn-primary btn-sm">
            Start Again
          </a>
          <br/>
          <br/>
          



        </div>
</main>




{% endblock %}